html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form{
  display: flex;
  gap:2rem;
  justify-content: center;
}

.logout{
  margin-left: 30rem;
}