@model MyViewModel
<div class="container">
<h2>Add Category</h2>
<form asp-action="AddCategoryToProduct" controller="Home" method="post" >
<select class="form-select m-2" name="SelectedCategory">
    @foreach (var item in Model.AllCategories)
    {
        <option value="@item.CategorieId">@item.Name</option>
    }
    </select>

    <input type="hidden" value=@Model.Product.ProductId name="ProductId">
    
    <input type="submit" class="btn btn-primary m-3" value="add">
    </form>


</div>



