@{
    ViewData["Title"] = "Home Page";
}
@model string
<div class="text-center">
    <div>
        <div class="nav-bar">
            <p>Home</p>  
            <div>|</div>
            <a class="link" href="/numbers"> Numbers</a>
            <div>|</div>
            <a class="link" href="/user"> User</a>
            <div>|</div>
            <a class="link" href="/users"> Users</a>

        </div>
        <h1>
            Here is  a message 
        </h1>
        <p>
            @Model
        </p>

    </div>
</div>
