@{
    ViewData["Title"] = "Home Page";
}
@model List<int>
<div class="text-center">
    <div class="container">
        <h1>
            Here are some numbers 
        </h1>
            <div class="nav-bar">
            <a class="link" href="/user"> Home</a> 
            <div>|</div>
            <p> Numbers</p>
            <div>|</div>
            <a class="link" href="/user"> User</a>
            <div>|</div>
            <a class="link" href="/users"> Users</a>

        </div>
        <div class="card" >
            
            <div class="card-body">
                @foreach (int  i in Model)
                {
                    <h5 class="card-title">@i</h5>
                }
                
           
            </div>
        </div>

    </div>
</div>
