<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here are some delicious food</h1>
@{
    List<string> l=new List<string>();
        l.Add("Apple Pie");
        l.Add("Pizza");
        l.Add("Cinnamon Rolls");
        l.Add("Lasagna");
        l.Add("Donuts");
        l.Add("Chocolate Cake");
        l.Add("Burritos");
    foreach(string s in l)
    {
        if(s.StartsWith("C"))
        {
            <p style="color:red;">@s</p>
        }
        else {
            <p>@s</p>
        }
    }
}
    
    
</body>
</html>