@model Association
<form asp-action="RDV_Weddding"  asp-route-place="">
    <input type="Hidden" asp-for="UserId">
    <input type="Hidden" asp-for="WeddingId">
    <button class="btn btn-info ">
        RSVP
    </button>

</form>
