@model Association
<form asp-action="UNRDV_Weddding"  asp-route-place="">
    <input type="Hidden" asp-for="UserId">
    <input type="Hidden" asp-for="WeddingId">
    <button class="btn btn-info ">
        UNRSVP
    </button>

</form>
