@{
    ViewData["Title"] = "Home Page";
}

@model  Chef
<div class="text-center">

    <div class="bar">
        
        <a href="/">Chefs</a>
        <div>|</div>
        <a href="/dishes">Dishes</a>
        <div>|</div>
        <p>Add a Chef</p>
        <div>|</div>
        <a href="/dishes/new">Add a Dish</a>
    </div>

    <h1 class="display-4">Add a new Chef</h1>
    <hr>

    <form asp-action="CreateChef" asp-controller="Home" method="post" class="chef" >
        <div class="form-group d-flex  gap-3 m-3 ">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control">
            <span asp-validation-for="FirstName" class="text-danger"></span>

        </div>

        <div class="form-group d-flex  gap-3 m-3">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control">
            <span asp-validation-for="LastName" class="text-danger"></span>

        </div>
             <div class="form-group d-flex  gap-3 m-3">
            <label asp-for="BirthDate"></label>
            <input asp-for="BirthDate" class="form-control">
            <span asp-validation-for="BirthDate" class="text-danger"></span>

        </div>

        <input type="submit" class="btn btn-primary" value="Add Chef">
    </form>

</div>